@using LFSTools.Models
@using LFSTools.BaseModels
@using NavigationType = DomainLayer.NavigationModels.NavigationType

@{
    ViewBag.Title = "Navbar";
    var viewModel = (BaseModel)ViewData["BaseModel"];
}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
           @if (@viewModel.ClientModel.IsLoggedIn)
           {
               if ((Request.Browser.Browser == "IE") && (Request.Browser.MajorVersion <= 8))
               {
                   foreach (var link in viewModel.NavigationLinks)
                   {
                       if (@link.TypeId == NavigationType.Dropdown)
                       {
                           <select class="navSelect" onChange='location.href = this.value'>
                               <option disabled="disabled" selected="selected">Select Tool...</option>
                               @foreach (var child in link.NavigationChildren)
                               {
                                   <option value="@child.Url">@child.Name</option>
                               }
                           </select>
                       }
                       else if (link.TypeId == NavigationType.Link)
                       {
                           <a class="navHref" href="@link.Url">@link.Name</a>
                       }
                   }
               }
               else
               {
                   <ul class="nav navbar-nav ">
                      @foreach (var link in viewModel.NavigationLinks)
                      {
                          if (@link.TypeId == NavigationType.Dropdown)
                          {
                              
                              <li class="dropdown open">
                                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">@link.Name <b class="caret"></b></a>
                                  <ul class="dropdown-menu ">
                                     @foreach (var child in link.NavigationChildren)
                                     {
                                         <li><a href="@child.Url">@child.Name</a></li>
                                     }
                             
                                  </ul>
                      </li>
                          }
                          if (link.TypeId == NavigationType.Link)
                          {
                               <li><a href="@link.Url">@link.Name</a></li>
                          }

                      }
                     
                      
                  </ul> 
              }
             
                 
          <div class="userName">
             
              <a id="currentUserName">Welcome Back!  @viewModel.ClientModel.UserName</a>
              <input id="postLogOut" type="button" value="Logout" /> 
                </div>
           } 
        
      </div>
  </div>
</div>
<div class="container">
    
</div>
<div id="showProcessing" class="processingAlertHide">
    <div>
        <img src="../../Content/images/SFAFAnimationProcessing.gif"/>
    </div>
</div>
<style type="text/css">
    .navSelect {
        background: #222222;
        color: white;
        border-color: #222222;
        font-size: 1.5em;
    }
    .navHref {
         font-size: 1.5em;
    }
</style>
<script type="text/javascript">

    $(".navSelect").change(function () {
        location.href = $(this).val();
    });
    $(function () {
        $('.dropdown-toggle').click();
        $('#postLogOut').click(function (e) {
            showProcessing();
            e.preventDefault();
            $.ajax(
                {
                    url: '/Login/UserLogOut',
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        hideProcessing();
                        var message = data["Message"];
                        var success = Boolean(data["Success"]);
                        if (!success) {
                            alert(message);
                        }
                        if (success) {
                            window.location.href = "/Login";
                        }
                    }
                });
        });
    });

</script>
