@using MemberCenter20NS.Models
@using MvcHelloTeam.Models
@{
    ViewBag.Title = "Navbar";
        //var viewModel = (BaseInputModel)ViewData["BaseInputModel"];
}
<!DOCTYPE html> 
    
    @Html.Partial("Header")

    <body class="@ViewBag.BodyClass">

        @Html.Partial("Navbar")

        <div id="main">
            <div class="container">
               
                @RenderBody()
            </div>
        </div>
  
        @Html.Partial("Footer")
    </body>
</html>
